<div class="flex justify-center items-center h-screen px-4 sm:px-0">
    <div class="w-full max-w-md">
      <!-- Logo Section -->
      <div class="flex w-full logo p-4 shadow-lg bg-white rounded-tl-lg rounded-tr-lg">
        <img
          src="../../../assets/images/image.png"
          alt="logo"
          class="w-20 h-20 rounded-full border-2 border-[#00152e]"
        />
        <span
          class="ml-4 mt-6 text-white font-bold text-lg sm:text-2xl"
        >
          Income and Expense Tracker
        </span>
      </div>
  
  <!-- Form Container -->
  <div class="shadow-xl p-6 bg-white rounded-lg mt-4">
    <div class="flex justify-center items-center text-gray-700 text-lg font-bold sm:text-base pb-6">
        RESET PASSWORD
      </div>
    <div class="flex justify-center items-center text-gray-700 text-sm sm:text-base pb-4 text-center">
      Enter a new password that satisfies the<br>following criteria
    </div>
    <div class="text-gray-700 text-sm sm:text-base pb-2">
       1. Must be at least 6 characters long
      </div>
    <div class="text-gray-700 text-sm sm:text-base pb-2">
       2. Must contain at elast one uppercase letter,<br>one number and one of these special characters '!&#64;#$%^&*(),.?":&#123;&#125;|&lt;>'
      </div>
    <form [formGroup]="myForm" (ngSubmit)="onSave()">
  
        <div class="my-4 relative">
            <input
              id="newPassword"
              [type]="showPassword ? 'text' : 'password'"
              formControlName="newPassword"
              placeholder="New Password"
              [ngClass]="{
                'border-red-500': myForm.get('newPassword')?.invalid && myForm.get('newPassword')?.touched
              }"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            />
            <button
              type="button"
              (click)="togglePasswordVisibility()"
              class="absolute text-sm right-3 top-2.5 text-blue-500 hover:text-blue-900 focus:outline-none"
            >
              {{ showPassword ? 'Hide' : 'Show' }}
            </button>

             <!-- Error for required and minLength -->
            <div *ngIf="myForm.get('newPassword')?.invalid && myForm.get('newPassword')?.touched">
              <small *ngIf="myForm.get('newPassword')?.hasError('required')" class="text-red-500">New Password is required.</small>
              <small *ngIf="myForm.get('newPassword')?.hasError('minlength')" class="text-red-500">New Password must be at least 6 characters long.</small>
            <!-- Error for password strength -->
             <div>
              <small *ngIf="myForm.get('newPassword')?.hasError('passwordWeak') && myForm.get('newPassword')?.touched" class="text-red-500">Password must contain at least one uppercase letter, one special character, and one number.</small>
            </div>
            </div>
          </div>

          <div class="my-4 relative">
            <input
              id="confirmPassword"
              [type]="showConfirmPassword ? 'text' : 'password'"
              formControlName="confirmPassword"
              placeholder="Confirm Password"
              [ngClass]="{
                'border-red-500': myForm.get('confirmPassword')?.invalid && myForm.get('confirmPassword')?.touched
              }"
              class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
            />
            <button
              type="button"
              (click)="toggleConfirmPasswordVisibility()"
              class="absolute text-sm right-3 top-2.5 text-blue-500 hover:text-blue-900 focus:outline-none"
            >
              {{ showConfirmPassword ? 'Hide' : 'Show' }}
            </button>

             <!-- Error for required and Password mismatch -->
             <div *ngIf="myForm.get('confirmPassword')?.invalid && myForm.get('confirmPassword')?.touched">
                <small class="text-red-500" *ngIf="myForm.get('confirmPassword')?.hasError('required')">
                  Confirm Password is required.
                </small>
              </div>
              <div *ngIf="myForm.hasError('passwordMismatch') && myForm.get('confirmPassword')?.touched">
                <small class="text-red-500">Passwords do not match.</small>
              </div>
            </div>
      <!-- Actions -->
        <button
          type="submit"
          [disabled]="myForm.invalid || isLoading"
          class="w-full px-14 py-2 mt-14 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 disabled:bg-[#639cff] disabled:text-gray-700 disabled:cursor-not-allowed disabled:opacity-50 flex items-center justify-center gap-2 uppercase"
        >
          <span
            *ngIf="isLoading"
            class="w-4 h-4 border-2 border-transparent border-t-black rounded-full animate-spin"
          ></span>
          Submit
        </button>
    </form>
  </div>
      <!-- Footer -->
      <div class="flex justify-center items-center text-gray-500 text-xs sm:text-sm mt-2">
        {{ footerText }}
      </div>
    </div>
  </div>

